body {
  font-family: Arial, Helvetica, sans-serif;
}
.para,
.small-para {
  color: hsl(0, 0%, 0%);
  font-weight: 800;
}
.small-para {
  font-size: 14px;
  font-weight: 800;
}
.para {
  font-size: 22px;
}
.button { /* Se movio de lugar regla button, por el efecto cascada lo estaban sobreescribiendo confirm y cancel*/
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}
.confirm { 
  background: green;
  color: white;
  font-weight: bold;
} 
.cancel { /* Faltaba la regla cancel, el boton cancel button quedaba con reglas de button */
  background: white;
  color: black;
  font-weight: normal;
}
div.text { /* Movimos .div.text arriba de .child para evitar la sobreescritura */
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 100;
}
.text.child { /* .child estaba despues de .div.text, por lo que se sobreescribian las reglas, y se agrego el .text */
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 14px;
}
 
/*Hubieron 4 cambios en total*/
